{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}

{% endblock %}

{% block section_c %}<hr>

<section class="py-4">
            {% include 'mainapp/menu.html' %}
</section>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">


                  <form class="d-flex">
                    <input  name="search" class="form-control me-2" type="search" placeholder="Поиск по модели" aria-label="Поиск">
                    <button class="btn btn-outline-success" type="submit">Искать</button>
                  </form>

                </div>
              </div>
        </nav>
</div>

<h1 class="text-center mt-5 mb-2" >{{name}}</h1>

<section class="py-4">

            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for i in data %}

                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ i.image.url }}" alt="ноутбуки" />
                            <!-- Product details-->
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ i.title }}</h5>
                                    <p>Отстатки: {{ i.items }} шт</p>
                                    <h4> {{ i.price }} р</h4>


                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ i.get_absolute_url }}">Перейти</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
</section>
{% endblock %}