<p class="card-text"><small class="text-muted"><button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <b>подробнее...</b>
                        </button>

            <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                     <table class="table">
                        <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">характеристики</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">Мощность</th>
                                      <td>{{ item.volume_power }}</td>

                                    </tr>
                                    <tr>
                                      <th scope="row">Тип системы</th>
                                      <td>{{ item.type }}</td>


                                    </tr>
                                     <tr>
                                      <th scope="row">Караоке</th>
                                      <td>{% if item.karaoke %}
                                        Есть
                                          {% else %}
                                          Нет
                                          {% endif %}
                                      </td>

                                    </tr>

                                  </tbody>
                         </table>
                     </div>
            </div>
          </small>
          </p>