<p class="card-text"><small class="text-muted"><button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <b>подробнее...</b>
                        </button>

            <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                     <table class="table">
     <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">характеристики</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">Диагональ</th>
                                      <td>{{ item.diagonal }}</td>

                                    </tr>
                                    <tr>
                                      <th scope="row">Разрешение</th>
                                      <td>{{ item.resolution }}</td>

                                    </tr>
                                     <tr>
                                      <th scope="row">Smart TV</th>
                                      <td>{{ item.smart_TV }}</td>

                                    </tr>
                                     <tr>
                                      <th scope="row">Операционная система</th>
                                      <td>{{ item.os}}</td>

                                    </tr>

                                     <tr>
                                      <th scope="row">Время работы</th>
                                      <td>{{ item.time_work}}</td>

                                    </tr>
                                     <tr>
                                      <th scope="row">Количество HDMI</th>
                                      <td>{{ item.hdmi }}</td>

                                    </tr>
                                  </tbody>
        </table>
                     </div>
            </div>
          </small>
          </p>